<!----------------------
	Liste des sanctions
  ------------------- -->

<!-- Pas de question -->
<ngb-alert *ngIf="sanctions.length == 0" [dismissible]="false" type="info">
	Pas de sanction
</ngb-alert>

<table *ngIf="sanctions.length > 0" class="table table-striped text-center table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Equipe</th>
			<th scope="col" *ngIf="avecJoueur">Joueur</th>
			<th scope="col">Faute</th>
			<th scope="col">Commentaire</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let sanction of sanctions">
			<td>{{sanction.date | date:'dd/MM/y'}}</td>
			<td *ngIf="!avecLien">{{sanction.equipe.nom}}</td>
			<td *ngIf="avecLien"><a [routerLink]="['/sanction', sanction.equipe.id]">{{sanction.equipe.nom}}</a></td>
			<td *ngIf="avecJoueur">{{sanction.joueur}}</td>
			<td>
				<div>
					<button #popOver="ngbPopover" class="btn btn-link" (click)="toggleBareme(popOver, sanction.bareme)"
					        popoverTitle="Barème" [ngbPopover]="popContent" triggers="manual" >
						{{sanction.bareme.libelle}}
					</button>
				</div>
				<div class="categorie">({{sanction.bareme.categorie.libelle}})</div>
			</td>
			<td>{{sanction.commentaire}}</td>
		</tr>
	</tbody>
</table>


<!----------------------
	Détail de barême
  ------------------- -->

<ng-template #popContent let-bareme="bareme">
	<div class="card-section" *ngIf="bareme.sanctionDirigeant">
		<div class="card-section-header">Sanction pour le dirigeant</div>
		<div>{{bareme.sanctionDirigeant}}</div>
	</div>
	<div class="card-section" *ngIf="bareme.sanctionEquipe">
		<div class="card-section-header">Sanction pour l'équipe</div>
		<div>{{bareme.sanctionEquipe}}</div>
	</div>
	<div class="card-section" *ngIf="bareme.sanctionJoueur">
		<div class="card-section-header">Sanction pour le joueur</div>
		<div>{{bareme.sanctionJoueur}}</div>
	</div>
</ng-template>
