<form class="form" (ngSubmit)="submit()" ngNativeValidate>

	<!----------------------
		Entête
	------------------- -->
	<div class="modal-header">
		<h4 class="modal-title">Import de résultats</h4>
	</div>

	<!----------------------
		Formulaire
	------------------- -->
	<div class="modal-body">

		<div class="form-group">
			<label for="champs">Sélectionner les championnats dont les résultats doivent être importés :</label>
			<select class="form-control" id="champs" name="champs" multiple required
			        [(ngModel)]="selChamps">
				<option *ngFor="let champ of championnats" [ngValue]="champ">{{champ.nom}}</option>
			</select>
		</div>

	</div>

	<!----------------------
		Pied
	------------------- -->
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annuler</button>
		<button type="submit" class="btn btn-primary" [disabled]="requeteService.chargement">Confirmer</button>
	</div>

</form>
