<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <!-- Icône -->
        <a class="navbar-brand" routerLink="/">
            <img src="{{DEPLOY_PATH}}assets/brand.png" width="30" height="30" class="d-inline-block align-top">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="/championnats"><i class="icon ion-md-trophy"></i> Championnats</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/matches/avalider"><i class="icon ion-md-checkbox-outline"></i> Matches à valider</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/equipes"><i class="icon ion-md-contacts"></i> Equipes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/calendrier"><i class="icon ion-md-calendar"></i> Calendrier</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/fairplay-classement"><i class="icon ion-md-happy"></i> Fair-play</a></li>
				<li class="nav-item" ngbDropdown #mnuparams="ngbDropdown" (mouseleave)="mnuparams.close()">
					<button class="btn btn-link nav-link" ngbDropdownAnchor (mouseenter)="mnuparams.open()"><i class="icon ion-md-settings"></i> Paramètres</button>
					<div ngbDropdownMenu>
						<a class="dropdown-item" routerLink="/parametres">Paramètres</a>
						<a class="dropdown-item" routerLink="/champ-modele">Modèles de championnat</a>
						<a class="dropdown-item" routerLink="/fairplay-editor">Feuilles de fair-play</a>
					</div>
				</li>
            </ul>
        </div>

		<!-- Zone de recherche -->
		<div>
			<app-recherche-equipe (select)="selectEquipe($event)"></app-recherche-equipe>
		</div>
    </div>
</nav>
