<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <!-- Icône -->
        <a class="navbar-brand" routerLink="/">
            <img src="{{DEPLOY_PATH}}assets/brand.png" width="30" height="30" class="d-inline-block align-top">
        </a>

        <!-- Toggler --><!-- TODO -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="/championnats"><i class="icon ion-md-trophy"></i> Championnats</a></li>
            </ul>
        </div>
    </div>
</nav>
