<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <!-- Icône -->
        <a class="navbar-brand" routerLink="/">
            <img src="{{DEPLOY_PATH}}assets/brand.png" width="30" height="30" class="d-inline-block align-top">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="navbarOpen">
			
			<!-- Menu -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/championnats"><i class="icon ion-md-trophy"></i> Championnats</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/carte"><i class="icon ion-md-map"></i> Carte des clubs</a></li>
                <li class="nav-item" *ngIf="equipe != null"><a class="nav-link" [routerLink]="['/equipe', 'edit', equipe.id]"><i class="icon ion-md-contact"></i> Coordonnées</a></li>
				<form class="form-inline" *ngIf="equipe != null">
					<a class="btn btn-primary" [routerLink]="['/equipe', 'saisie', equipe.id]"><i class="icon ion-md-create"></i> Saisie résultats et fair-play</a>
				</form>
            </ul>

			<!-- Bouton de connexion/déconnexion-->
			<div>
				<button *ngIf="equipe == null" class="btn btn-success" (click)="connexion()"><i class="icon ion-md-key"></i> Connexion</button>
				<button *ngIf="equipe != null" class="btn btn-secondary" (click)="deconnexion()"><i class="icon ion-md-walk"></i> Déconnexion</button>
			</div>
		</div>
		
    </div>
</nav>
