<h1><i class="icon ion-md-podium"></i> Championnats</h1>

<div class="action-bar">
    <a class="btn btn-outline-primary" routerLink="/champ-creation"><i class="icon ion-md-add"></i> Créer un championnat</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Saison</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let champ of championnats">
            <td>{{champ.nom}}</td>
			<td>{{champ.saison}}</td>
			<td>{{champ |json}}</td>
        </tr>
    </tbody>
</table>
