<h1><i class="icon ion-md-podium"></i> Championnats</h1>

<div class="action-bar">
    <a class="btn btn-outline-primary" routerLink="/champ-creation"><i class="icon ion-md-add"></i> Créer un championnat</a>
</div>

<div class="card bg-primary" *ngFor="let sport of sports">
	<div class="card-header text-white">{{sport.nom}}</div>
	<div class="bg-white">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let champ of championnats.get(sport.nom)">
					<td>{{champ.nom}}</td>
					<td>
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/matches', champ.id]" ngbTooltip="Afficher les matches"><i class="icon ion-md-clipboard"></i></a>
						&nbsp;
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/classement', champ.id]" *ngIf="champ.type != 'COUPE'" ngbTooltip="Afficher le classement"><i class="icon ion-md-podium"></i></a>
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/coupe', champ.id]" *ngIf="champ.type == 'COUPE'" ngbTooltip="Afficher le plateau"><i class="icon ion-md-git-network"></i></a>
						&nbsp;
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/journees', champ.id]" ngbTooltip="Afficher le calendrier"><i class="icon ion-md-calendar"></i></a>
						&nbsp;
						<button class="btn btn-sm btn-outline-danger" (click)="supprimer(champ)" ngbTooltip="Supprimer le championnat"><i class="icon ion-md-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!----------------------
	Fenêtre de confirmation de suppression
  ------------------- -->

<ng-template #supprChamp let-champ>
	Etes-vous sûr de vouloir supprimer le championnat {{ champ.nom }} ?
</ng-template>
