<form class="form" (ngSubmit)="submit()" ngNativeValidate>

	<!----------------------
		Entête
	------------------- -->
	<div class="modal-header">
		<h4 class="modal-title">Ajout de sanction</h4>
	</div>

	<!----------------------
		Formulaire
	------------------- -->
	<div class="modal-body">

		<div class="row">
			<div class="col-6">
				<!-- Barème  -->
				<div class="form-group">
					<label for="bareme">Faute&nbsp;:</label>
					<select class="form-control" id="bareme" name="bareme" required [(ngModel)]="sanction.bareme">
						<optgroup *ngFor="let c of bareme" [label]="c.libelle">
							<option *ngFor="let b of c.baremes" [ngValue]="b">{{b.libelle}}</option>
						</optgroup>
					</select>
				</div>

				<!-- Equipe -->
				<div class="form-group">
					<label for="equipe">Equipe&nbsp;:</label>
					<select class="form-control" id="equipe" name="equipe" required [(ngModel)]="sanction.equipe" *ngIf="equipe == null">
						<option *ngFor="let e of equipes" [ngValue]="e">{{e.nom}}</option>
					</select>
					<input type="text" class="form-control" id="joueur" name="joueur" disabled [value]="equipe.nom" *ngIf="equipe != null">
				</div>

				<!-- Joueur -->
				<div class="form-group">
					<label for="joueur">Joueur&nbsp;:</label>
					<input type="text" class="form-control" id="joueur" name="joueur" [(ngModel)]="sanction.joueur">
				</div>
			</div>
			
			<div class="col-6" *ngIf="sanction.bareme">

				<!-- Détail de la sanction -->
				<div class="card">
					<div class="card-header">{{sanction.bareme.libelle}}</div>
					<div class="card-body">
						<div class="card-section" *ngIf="sanction.bareme.sanctionDirigeant">
							<div class="card-section-header">Sanction pour le dirigeant</div>
							<div>{{sanction.bareme.sanctionDirigeant}}</div>
						</div>
						<div class="card-section" *ngIf="sanction.bareme.sanctionEquipe">
							<div class="card-section-header">Sanction pour l'équipe</div>
							<div>{{sanction.bareme.sanctionEquipe}}</div>
						</div>
						<div class="card-section" *ngIf="sanction.bareme.sanctionJoueur">
							<div class="card-section-header">Sanction pour le joueur</div>
							<div>{{sanction.bareme.sanctionJoueur}}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">

				<!-- Commentaire  -->
				<div class="form-group">
					<label for="commentaire">Commentaire&nbsp;:</label>
					<textarea rows="4" class="form-control" id="commentaire" name="commentaire" [(ngModel)]="sanction.commentaire"></textarea>
				</div>

			</div>
		</div>
	</div>

	<!----------------------
		Pied
	------------------- -->
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annuler</button>
		<button type="submit" class="btn btn-primary" appLoadDisable>Confirmer</button>
	</div>

</form>
