<app-generic-menu [menu]="menu"></app-generic-menu>

<!----------------------
	Sélection du formulaire
  ------------------- -->

<div class="form-group form-row">
	<label for="fpform" class="col-sm-2 col-form-label">Feuille de fair-play</label>
	<div class="col-sm-2">
		<select class="form-control" id="fpform" name="fpform"
				[(ngModel)]="selfpform" (ngModelChange)="selectFpForm($event)">
			<option [ngValue]="newFpform">-- Ajouter --</option>
			<option *ngFor="let f of fpforms" [ngValue]="f">{{f.libelle}}</option>
		</select>
	</div>

	<div class="col-sm-1" *ngIf="selfpform?.id">
		<button class="btn btn-outline-danger" (click)="supprimer(selfpform)"
			ngbTooltip="Supprimer la feuille de fair-play" container="body">
			<i class="icon ion-md-trash"></i>
		</button>
	</div>
</div>

<!----------------------
	Définition du formulaire
  ------------------- -->

<form (ngSubmit)="submit()" class="form" ngNativeValidate *ngIf="selfpform">

	<hr>

	<!-- Message d'alerte pour la modification -->
	<ngb-alert *ngIf="selfpform.id" [dismissible]="false" type="warning">
		Les modifications ne seront prises en compte que pour les futurs championnats,
		pas pour les championnats en cours.
	</ngb-alert>

	<!-- Libellé -->
	<div class="form-group form-row">
		<label for="libelle" class="col-sm-2 col-form-label">Libellé</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="libelle" id="libelle" [(ngModel)]="selfpform.libelle" required>
		</div>
	</div>

	<!-- Pas de catégorie -->
	<ngb-alert *ngIf="selfpform.categories.length == 0" [dismissible]="false" type="info">
		Pas de catégorie
	</ngb-alert>

	<div *ngFor="let cat of selfpform.categories; let i = index;" class="card categorie border-secondary">
	
		<!-- Nom de la catégorie -->
		<div class="card-header">
			<div class="row">
				<div class="col-10 text-left">
					<input type="text" class="form-control" name="lib_{{i}}" required
						[(ngModel)]="cat.libelle" placeholder="Libellé de la catégorie">
				</div>
				<div class="col-2 text-right">
					<button type="button" class="btn btn-outline-secondary" (click)="deplacer(selfpform.categories, i, -1)"
							ngbTooltip="Déplacer vers le haut" container="body" *ngIf="i > 0">
						<i class="icon ion-md-arrow-round-up"></i>
					</button>
					<button type="button" class="btn btn-outline-secondary" (click)="deplacer(selfpform.categories, i, +1)"
							ngbTooltip="Déplacer vers le bas" container="body" *ngIf="i < selfpform.categories.length-1">
						<i class="icon ion-md-arrow-round-down"></i>
					</button>
					<button type="button" class="btn btn-outline-danger" (click)="selfpform.categories.splice(selfpform.categories.indexOf(cat), 1)"
							ngbTooltip="Supprimer la catégorie" container="body">
						<i class="icon ion-md-trash"></i>
					</button>
				</div>
			</div>
		</div>
	
		<!-- Questions -->
		<div class="card-body">

			<!-- Pas de question -->
			<ngb-alert *ngIf="cat.questions.length == 0" [dismissible]="false" type="info">
				Pas de question
			</ngb-alert>

			<div *ngFor="let q of cat.questions; let j = index;" class="card">

				<!-- Titre de la question -->
				<div class="card-header">
					<div class="row">
						<div class="col-10 text-left">
							<input type="text" class="form-control" name="titre_{{i}}_{{j}}" required
									[(ngModel)]="q.titre" placeholder="Titre de la question">
						</div>
						<div class="col-2 text-right">
							<button type="button" class="btn btn-outline-secondary" (click)="deplacer(cat.questions, j, -1)"
									ngbTooltip="Déplacer vers le haut" container="body" *ngIf="j > 0">
								<i class="icon ion-md-arrow-round-up"></i>
							</button>
							<button type="button" class="btn btn-outline-secondary" (click)="deplacer(cat.questions, j, +1)"
									ngbTooltip="Déplacer vers le bas" container="body" *ngIf="j < cat.questions.length-1">
								<i class="icon ion-md-arrow-round-down"></i>
							</button>
							<button type="button" class="btn btn-outline-danger" (click)="cat.questions.splice(cat.questions.indexOf(q), 1)"
									ngbTooltip="Supprimer la question" container="body">
								<i class="icon ion-md-trash"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="card-body">
					<!-- Libellé de la question -->
					<div class="form-group form-row">
						<label for="lib_{{i}}_{{j}}" class="col-sm-2 col-form-label">Description</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="lib_{{i}}_{{j}}" id="lib_{{i}}_{{j}}"
								[(ngModel)]="q.libelle">
						</div>
					</div>

					<!-- Type de question -->
					<div class="form-group form-row">
						<label for="type_{{i}}_{{j}}" class="col-sm-2 col-form-label">Type</label>
						<div class="col-sm-3">
							<select class="form-control" id="type_{{i}}_{{j}}" name="type_{{i}}_{{j}}"
									[(ngModel)]="q.type" required>
								<option *ngFor="let t of types" [ngValue]="t[1]">{{t[0]}}</option>
							</select>
						</div>
					</div>

					<!-- Alerte -->
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="alerte_{{i}}_{{j}}" name="alerte_{{i}}_{{j}}"
						       [(ngModel)]="q.alerte">
						<label class="form-check-label" for="alerte_{{i}}_{{j}}">Déclenche une alerte</label>
					</div>
				</div>
			</div>

			<!-- Ajout de question -->
			<div class="mb-3">
				<button class="btn btn-outline-success btn-sm" type="button" (click)="ajouterQuestion(cat)"><i class="icon ion-md-add"></i> Ajouter une question</button>
			</div>
		</div>
	</div>

	<!-- Ajout de catégorie -->
	<div class="mb-3">
		<button class="btn btn-outline-success" type="button" (click)="ajouterCategorie(selfpform)"><i class="icon ion-md-add"></i> Ajouter une catégorie</button>
	</div>

	<button type="submit" class="btn btn-primary" 
	        [appLoadDisable]="selfpform.categories.length == 0 || selfpform.categories[0].questions.length == 0">Valider</button>
</form>


<!----------------------
	Fenêtre de confirmation de suppression
  ------------------- -->

<ng-template #supprFeuille let-form>
	Etes-vous sûr de vouloir supprimer la feuille de fair-play {{ form.libelle }}&nbsp;?
</ng-template>


<!----------------------
	Fenêtre pour les feuilles encore utilisées
  ------------------- -->

<ng-template #supprFeuilleUtilisee let-modeles>
	Cette feuille de fair-play est utilisée par le(s) modèle(s) suivants&nbsp;: {{ modeles }}. Vous ne pouvez pas la supprimer.
</ng-template>
