<h1>
	Création de championnat
</h1>

<!----------------------
	Modèle
  ------------------- -->

<div class="form-group form-row">
	<label for="modele" class="col-sm-2 col-form-label">Modèle</label>
	<div class="col-sm-2">
		<select class="form-control" id="modele" name="modele"
				[(ngModel)]="selModele" (ngModelChange)="selectionModele($event)">
			<option *ngFor="let m of modeles" [ngValue]="m">{{m.nomModele}}</option>
		</select>
	</div>
	<div class="col-sm-2">
		<a class="btn btn-outline-secondary" routerLink="/champ-modele"><i class="icon ion-md-settings"></i> Gérer les modèles</a>
	</div>
</div>

<form (ngSubmit)="submit()" ngNativeValidate>
	<!----------------------
		Caractéristiques
	  ------------------- -->

	<div class="card">
		<div class="card-header">
			Caractéristiques
		</div>
		<div class="card-body">

			<!-- Saison -->
			<div class="form-group form-row">
				<label class="col-sm-2 col-form-label">Saison</label>
				<div class="col-sm-10 col-form-label">
					{{championnat.saison}}
				</div>
			</div>

			<!-- Caractéristiques -->
			<app-champ-caracteristiques #caractComp [championnat]="championnat" (sportChange)="selectionSport($event)"></app-champ-caracteristiques>

		</div>
	</div>

	<br>

	<!----------------------
		 Equipes 
	  ------------------- -->
	<div class="card">
		<div class="card-header">
			Equipes <span class="badge badge-secondary">{{ getNbEquipes() }}</span>
		</div>
		<div class="card-body">
			<div class="form-group form-row">
				<div class="col-sm-3 mb-2" *ngFor="let e of itequipes; let i = index;">
					<input type="text" class="form-control" name="{{'equipe_' + i}}"
						   [(ngModel)]="equipes[i]" [ngbTypeahead]="searchEquipe" [editable]="true" [disabled]="equipesSport == null"
						   [inputFormatter]="searchEquipeFormatter" [resultFormatter]="searchEquipeFormatter">
				</div>
			</div>
		</div>
	</div>

	<br>
	
	<button class="btn btn-primary" type="submit" [appLoadDisable]="getNbEquipes()<2">Créer</button>
</form>
