<!----------------------
		Entête
	------------------- -->
<div class="modal-header">
	<h4 class="modal-title">{{titre}}</h4>
</div>

<!----------------------
		Formulaire
	------------------- -->
<div class="modal-body">
	<ng-container *ngTemplateOutlet="contenu; context: contexte"></ng-container>
</div>

<!----------------------
		Pied
	------------------- -->
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annuler</button>
	<button type="button" class="btn btn-danger" (click)="activeModal.close()" *ngIf="valider">Confirmer</button>
</div>
