
/** Pour les journées */
.card {
	margin-bottom: 20px;
}

.card-header {
	cursor: pointer;
}

.reducteur {
	display: inline-block;
	margin-right: 10px;
}

.reducteur.ouvert {
	transform: rotate(90deg);
}
