<app-champ-menu [champ]="champ"></app-champ-menu>

<!-- Liste des journées-->
<div *ngFor="let journee of journees" class="card" [ngClass]="'bg-' + journee.classe">

	<!-- Description de la journée -->
	<div class="card-header text-white" (click)="journee.isCollapsed = !journee.isCollapsed">
		<span class="reducteur" [class.ouvert]="!journee.isCollapsed"><i class='icon ion-md-play'></i></span>
		{{ journee.obj | strJournee }}
	</div>

	<!-- Liste des matches-->
	<div class="bg-white" [ngbCollapse]="journee.isCollapsed">
		<app-match-journee [journee]="journee.obj"></app-match-journee>
	</div>
</div>
