<app-generic-menu [obj]="champ" nomMenu="championnat"></app-generic-menu>

<ngb-alert *ngIf="defautJournees.debut && defautJournees.fin" [dismissible]="false" type="info">
	Les dates de {{defautJournees.debut}} à {{defautJournees.fin}} ont été préremplies avec les dates
	du championnat précédent. N'oubliez pas d'enregistrer pour les conserver.
</ngb-alert>

<div class="row">
	<!-- Navigation -->
	<div class="text-center col-lg-12">
		<button class="btn" (click)="navigation(-1)">
			<i class="icon ion-md-arrow-round-back"></i>
		</button>
		<button class="btn" (click)="navigation(+1)">
			<i class="icon ion-md-arrow-round-forward"></i>
		</button>
	</div>

	<!-- Journées -->
	<div class="col-lg-1">
		<div *ngFor="let j of journees; let i = index;" [class.sel-journee]="iJournee == i">
			<a [routerLink]="" class="badge" [ngClass]="'badge-' + couleurs[i % couleurs.length][0]" [class.badge-pill]="iJournee == i"
			   (click)="iJournee = i">{{ j.libelle }}</a>
		</div>
	</div>

	<!-- Calendrier -->
	<div class="text-center col-lg-11">
		<ngb-datepicker [dayTemplate]="t" (select)="onDaySelection($event)"></ngb-datepicker>
		<ngb-datepicker [dayTemplate]="t" (select)="onDaySelection($event)"></ngb-datepicker>
		<ngb-datepicker [dayTemplate]="t" (select)="onDaySelection($event)"></ngb-datepicker>
	</div>

	<!-- Validation -->
	<div class="text-center col-lg-12">
		<button class="btn btn-primary" (click)="enregistrer()" [disabled]="requeteService.chargement">
			<i class="icon ion-md-save"></i> Enregistrer
		</button>
	</div>
</div>

<!--
	Template pour les jours du calendrier
-->
<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
		[ngClass]="dayClass(date)"
        (mouseenter)="daySel(date)"
        (mouseleave)="daySel(null)">
    {{ date.day }}
  </span>
</ng-template>
