<app-generic-menu [obj]="champ" nomMenu="championnat"></app-generic-menu>

<form class="inline-form" (ngSubmit)="submit()" ngNativeValidate>
	<table class="table table-striped text-center table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Equipe</th>
				<th scope="col">Pts</th>
				<th scope="col" class="separation">J</th>
				<th scope="col">G</th>
				<th scope="col" *ngIf="champ?.ptnul != null">N</th>
				<th scope="col">P</th>
				<th scope="col">FO</th>
				<th scope="col" class="separation">Pour</th>
				<th scope="col">Contre</th>
				<th scope="col">Diff</th>
				<th scope="col" class="separation">Pén</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let class of classements; let i = index;">
				<td>{{i > 0 && class.position == classements[i-1].position ? "-" : class.position}}</td>
				<td>
					<button type="button" class="btn btn-outline-secondary btn-sm" ngbTooltip="Remplacer l'équipe" (click)="change(class.equipe)">
						<i class="icon ion-md-swap"></i>
					</button>
					{{class.equipe.nom}}
				</td>
				<td class="font-weight-bold">{{class.pts}}</td>
				<td class="separation">{{class.mTotal}}</td>
				<td>{{class.mVict}}</td>
				<td *ngIf="champ?.ptnul != null">{{class.mNul}}</td>
				<td>{{class.mDef}}</td>
				<td>{{class.mFo}}</td>
				<td class="separation">{{class.pour}}</td>
				<td>{{class.contre}}</td>
				<td>{{class.pour - class.contre | signe}}</td>
				<td class="separation penalite">
					<input type="number" class="text-center form-control" name="pen_{{i}}"
						   [(ngModel)]="class.penalite">
				</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center">
		<button class="btn btn-primary" type="submit">Valider</button>
	</div>
</form>



<!----------------------
	Fenêtre de modification d'équipe
  ------------------- -->

<ng-template #changeEquipe let-equipe>
	<form class="form">
		<div class="form-group">
			<label for="new_equipe">Remplacer l'équipe {{equipe.nom}} par l'équipe :</label>
			<select class="form-control" id="new_equipe" name="new_equipe" required 
			        [(ngModel)]="remplacement.newEquipe">
				<option *ngFor="let e of remplacement.equipes" [ngValue]="e">{{e.nom}}</option>
			</select>
		</div>
	</form>
</ng-template>
