
<!-- Nom -->
<div class="form-group form-row">
	<label for="nom_{{equipe.id}}" class="col-sm-2 col-form-label">Nom</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" name="nom_{{equipe.id}}" id="nom_{{equipe.id}}"
				[(ngModel)]="equipe.nom" required>
	</div>
</div>

<!-- Responsable 1 -->
<div class="form-group form-row">
	<label for="resp1_{{equipe.id}}" class="col-sm-2 col-form-label">Responsable 1</label>
	<div class="col-sm-3">
		<input type="text" class="form-control" name="resp1_{{equipe.id}}" id="resp1_{{equipe.id}}"
				[(ngModel)]="equipe.responsables[0].nom" placeholder="Nom">
	</div>
	<div class="col-sm-3">
		<input type="tel" class="form-control" name="tel1_{{equipe.id}}"
				pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" ngbTooltip="Format 01 02 03 04 05" maxlength="14"
				[ngModel]="equipe.responsables[0].tel1" [disabled]="!equipe.responsables[0].nom || equipe.responsables[0].nom == ''" placeholder="Téléphone"
				(ngModelChange)="completeTel(equipe, 0, $event)">
	</div>
	<div class="col-sm-4">
		<input type="email" class="form-control" name="mail1_{{equipe.id}}"
				[(ngModel)]="equipe.responsables[0].mail" [disabled]="!equipe.responsables[0].nom || equipe.responsables[0].nom == ''" placeholder="Mail">
	</div>
</div>

<!-- Responsable 2 -->
<div class="form-group form-row">
	<label for="resp2_{{equipe.id}}" class="col-sm-2 col-form-label">Responsable 2</label>
	<div class="col-sm-3">
		<input type="text" class="form-control" name="resp2_{{equipe.id}}" id="resp2_{{equipe.id}}"
				[(ngModel)]="equipe.responsables[1].nom" placeholder="Nom">
	</div>
	<div class="col-sm-3">
		<input type="tel" class="form-control" name="tel2_{{equipe.id}}"
				pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" ngbTooltip="Format 01 02 03 04 05" maxlength="14"
				[ngModel]="equipe.responsables[1].tel1" [disabled]="!equipe.responsables[1].nom || equipe.responsables[1].nom == ''" placeholder="Téléphone"
				(ngModelChange)="completeTel(equipe, 1, $event)">
	</div>
	<div class="col-sm-4">
		<input type="email" class="form-control" name="mail2_{{equipe.id}}"
				[(ngModel)]="equipe.responsables[1].mail" [disabled]="!equipe.responsables[1].nom || equipe.responsables[1].nom == ''" placeholder="Mail">
	</div>
</div>

<!-- Terrain -->
<div class="form-group form-row">
	<label for="terrain_{{equipe.id}}" class="col-sm-2 col-form-label">
		Terrain
		<div class="pasterrain text-danger" [hidden]="equipe.terrain && equipe.terrain != ''">(Pas de terrain)</div>
	</label>
	<div class="col-sm-10">
		<textarea rows="4" class="form-control" name="terrain_{{equipe.id}}" id="terrain_{{equipe.id}}"
					[(ngModel)]="equipe.terrain" placeholder="Adresse et info"></textarea>
	</div>
</div>

<!-- Créneaux -->
<div class="form-group form-row" *ngFor="let creneau of equipe.creneaux; let i = index;">
	<label for="creneau{{i}}_{{equipe.id}}_jour" class="col-sm-2 col-form-label" [hidden]="i>0">Créneaux</label>
	<div class="col-sm-2" [class.offset-md-2]="i>0">
		<select class="form-control" name="creneau{{i}}_{{equipe.id}}_jour" id="creneau{{i}}_{{equipe.id}}_jour" required
				[(ngModel)]="creneau.jour" [disabled]="!equipe.terrain || equipe.terrain == ''">
			<option *ngFor="let j of jours; let i=index" [ngValue]="i">{{j}}</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input class="form-control" type="time" name="creneau{{i}}_{{equipe.id}}_heure" required
				[(ngModel)]="creneau.heureDisp" [disabled]="!equipe.terrain || equipe.terrain == ''">
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-outline-danger" (click)="supprimeCreneau(equipe, creneau)" ngbTooltip="Supprimer le créneau">
			<i class="icon ion-md-trash"></i>
		</button>
	</div>
</div>
<div class="form-group form-row">
	<div class="col-sm-2 offset-md-2">
		<button type="button" class="btn btn-outline-secondary btn-sm"
				(click)="ajoutCreneau(equipe)" [disabled]="!equipe.terrain || equipe.terrain == ''">Ajouter un créneau</button>
	</div>
</div>

<!-- Position -->
<div class="form-group form-row">
	<label class="col-sm-2 col-form-label">Position</label>
	<div class="col-sm-3">
		<button type="button" class="btn form-control" 
				[ngClass]="!equipe.terrain || equipe.terrain == '' ? 'btn-outline-secondary' : (equipe.position ? 'btn-outline-success' : 'btn-outline-danger')"
				(click)="positionne(equipe)" [disabled]="!equipe.terrain || equipe.terrain == ''">Positionner sur la carte</button>
	</div>
	<label class="col-sm-7 col-form-label position">
		{{ equipe.position }}
	</label>
</div>

<!-- Envoi de mot de passe -->
<div class="form-group form-row mb-0" *ngIf="motdepasse">
	<div class="col-sm-4">
		<button type="button" class="btn form-control btn-secondary" 
				(click)="changeMdp(equipe)"><i class="icon ion-md-mail"></i> Envoyer un mot de passe manuellement</button>
	</div>
</div>


<!----------------------
	Fenêtre d'envoi de mail
  ------------------- -->

<ng-template #envoiMail let-mail>
	<div class="mail">
		<div class="row">
			<div class="col-md-2">Destinataires:</div>
			<div class="col-md-10">{{mail.destinataires}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Objet:</div>
			<div class="col-md-10">{{mail.objet}}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Contenu:</div>
			<div class="col-md-10 contenu">{{mail.corps}}</div>
		</div>
	</div>
</ng-template>
