.card {
	margin-bottom: 20px;
}

.pasterrain {
	font-style: italic;
}

select, select option {
	text-transform: capitalize;
}

.position {
	font-style: italic;
}

.mail .row:not(:last-child) {
	margin-bottom: 20px;
}

.mail .contenu {
	white-space: pre-wrap;
}