<h1>
	<i class="icon ion-md-contacts"></i> Equipes
</h1>


<!----------------------
	Sport
  ------------------- -->

<div class="form-group form-row">
	<label for="sport" class="col-sm-2 col-form-label">Sport</label>
	<div class="col-sm-2">
		<select class="form-control" id="sport" name="sport"
				[(ngModel)]="selSport" (change)="selectionSport()">
			<option *ngFor="let s of sports" [ngValue]="s">{{s.nom}}</option>
		</select>
	</div>
	<div class="col-sm-2" [hidden]="!equipes || equipes.length == 0">
		<a class="btn btn-primary" [href]="lienAnnuaire()">Générer l'annuaire</a>
	</div>
</div>


<!----------------------
	Equipes
  ------------------- -->

<ngb-alert *ngIf="equipes && equipes.length == 0" [dismissible]="false" type="info">
	Pas d'équipe
</ngb-alert>

<form class="form" (ngSubmit)="submit()" ngNativeValidate [hidden]="!equipes || equipes.length == 0">
	<div *ngFor="let equipe of equipes" class="card">

		<!-- Nom de l'équipe -->
		<div class="card-header">
			{{ equipe.nom }}
		</div>

		<!-- Description -->
		<div class="card-body">
			<app-equipe-detail [equipe]="equipe"></app-equipe-detail>
		</div>
	</div>

	<button type="submit" class="btn btn-primary" [disabled]="requeteService.chargement">Valider</button>
</form>

