<app-generic-menu [menu]="menu" [obj]="champ"></app-generic-menu>


<!----------------------
	Classement
  ------------------- -->

<ngb-alert *ngIf="classements && classements.length == 0" [dismissible]="false" type="info">
	Pas d'évaluation de fair-play pour ce championnat
</ngb-alert>

<div *ngIf="classements && classements.length > 0">
	<ngb-alert [dismissible]="false" type="info">
		Les points correspondent à une moyenne des notes.
		Les notes vont de 100 (toutes les évaluations d'une feuille sont positives) à -100 (toutes les évaluations d'une feuille sont négatives).
	</ngb-alert>

	<table class="table table-striped table-sm text-center table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Equipe</th>
				<th scope="col">Pts</th>
				<th scope="col">Evaluations</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let class of classements; let i = index;" (click)="router.navigate(['fairplay-equipe', 'evaluation', class.equipe.id])">
				<td>{{i > 0 && class.ratio == classements[i-1].ratio ? "-" : i+1}}</td>
				<td>{{class.equipe.nom}}</td>
				<td class="font-weight-bold" [ngClass]="{'text-success': class.ratio>33, 'text-danger': class.ratio<-33}">
					{{class.ratio | number:'1.0-0'}}
				</td>
				<td>{{class.nb}}</td>
			</tr>
		</tbody>
	</table>
</div>
