<table class="table table-striped table-score mb-0">
	<tbody>

		<tr *ngFor="let match of matchesExt">
			<!-- Si vrai match-->
			<ng-container *ngIf="!match.exempt">
	
				<!-- Equipe 1 -->
				<td class="text-right">
					<span *ngIf="!match.equipe1 || match.style1.indexOf(STYLE_MEME_EQUIPE) > -1" [ngClass]="match.style1">{{match.dispEquipe1}}</span>
					<a    *ngIf="match.equipe1 && match.style1.indexOf(STYLE_MEME_EQUIPE) == -1" [ngClass]="match.style1" [routerLink]="['/equipe','matches',match.equipe1.id]">{{match.dispEquipe1}}</a>
				</td>

				<!-- Score -->
				<ng-container *ngIf="match.dispScore1 || match.dispScore2">
					<td class="text-right score">{{match.dispScore1}}</td>
					<td class="separateur text-center">-</td>
					<td class="text-left score">{{match.dispScore2}}</td>
				</ng-container>

				<!-- Pas de score -->
				<ng-container *ngIf="!match.dispScore1 && !match.dispScore2">
					<td class="ajouer text-center" colspan="3">A jouer</td>
				</ng-container>

				<!-- Equipe 2 -->
				<td class="text-left">
					<span *ngIf="!match.equipe2 || match.style2.indexOf(STYLE_MEME_EQUIPE) > -1" [ngClass]="match.style2">{{match.dispEquipe2}}</span>
					<a    *ngIf="match.equipe2 && match.style2.indexOf(STYLE_MEME_EQUIPE) == -1" [ngClass]="match.style2" [routerLink]="['/equipe','matches',match.equipe2.id]">{{match.dispEquipe2}}</a>
				</td>

				<!-- Date et terrain -->
				<td *ngIf="avecDates" class="infodate">{{match.date}}</td>
				<td *ngIf="avecDates" class="infodate" [class.sansterrain]="match.terrain == PAS_DE_TERRAIN">
					<a *ngIf="match.terrain" [routerLink]="['/equipe', match.equipe1.id]">{{match.terrain}}</a>
				</td>

				<!-- TODO: feuille de match -->

				<!-- Saisie du résultat -->
				<td *ngIf="saisie" class="text-center">
					<span class="text-muted" *ngIf="match.statut == Statuts.VALIDE">Match validé</span>
					<span class="text-muted" *ngIf="match.statut == Statuts.AJOUER"><button class="btn btn-primary" (click)="saisieFairPlay(match)">Saisie</button></span>
					<span class="text-muted" *ngIf="match.statut == Statuts.JOUE"><button class="btn btn-warning" (click)="saisieFairPlay(match)">Renseigner le fair-play</button></span>
					<span class="text-muted" *ngIf="match.statut == Statuts.JOUE_FP"><button class="btn btn-secondary" (click)="saisieFairPlay(match)">Modifier</button></span>
				</td>

			</ng-container>


			<!-- Si exempt -->
			<ng-container *ngIf="match.exempt">
				<td colspan="5" class="text-center">
					Exempt: {{ match.exempt.nom }}
				</td>
				<td colspan="2" *ngIf="avecDates"></td>
				<td *ngIf="saisie"></td>
			</ng-container>
		</tr>

	</tbody>
</table>
