table {
	table-layout: fixed;
}

td {
	vertical-align: middle;
}

.separateur {
	width: 2em;
}

.score {
	width: 3em;
	font-weight: bold;
}

.forfait {
	text-decoration: line-through;
}

.ajouer {
	width: calc(5em + 4 * 0.75rem);
	font-style: italic;
}

.infodate {
	white-space: pre-line;
}

.sansterrain {
	font-style: italic;
}

td.feuille {
	width: 2em;
}