<h1><i class="icon ion-md-trophy"></i> Championnats</h1>


<!----------------------
	Ajout de championnat
  ------------------- -->

<div class="action-bar">
    <a class="btn btn-primary" routerLink="/champ-creation"><i class="icon ion-md-add"></i> Créer un championnat</a>
    <a class="btn btn-secondary ml-2" [href]="lienExport"><i class="icon ion-md-paper"></i> Exporter les classements</a>
</div>


<!----------------------
	Saison
  ------------------- -->

<div class="form-group form-row">
	<label for="saison" class="col-sm-2 col-form-label">Saison</label>
	<div class="col-sm-2">
		<select class="form-control" id="saison" name="saison" (change)="changeSaison($event.target.value)">
			<option *ngFor="let s of saisons">{{s}}</option>
		</select>
	</div>
</div>


<!----------------------
	Championnats
  ------------------- -->

<ngb-alert *ngIf="sports && sports.length == 0" [dismissible]="false" type="info">
	Pas de championnat pour la saison sélectionnée.
</ngb-alert>

<div class="card bg-primary" *ngFor="let sport of sports">
	<div class="card-header text-white">{{sport.nom}}</div>
	<div class="bg-white">
		<table class="table table-striped mb-0">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let champ of championnats.get(sport.nom)">
					<td>{{champ.nom}}</td>
					<td>
						<a class="btn btn-sm btn-outline-primary" [routerLink]="['/matches', champ.id]" [ngbTooltip]="infoMatches"><i class="icon ion-md-clipboard"></i></a>
						&nbsp;
						<a class="btn btn-sm btn-outline-primary" [routerLink]="['/classement', champ.id]" *ngIf="champ.type != 'COUPE'" [ngbTooltip]="infoClassement"><i class="icon ion-md-podium"></i></a>
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/coupe', champ.id]" *ngIf="champ.type == 'COUPE'" [ngbTooltip]="infoPlateau"><i class="icon ion-md-git-network"></i></a>
						&nbsp;
						<span *ngIf="champ.fpForm != null">
							<a class="btn btn-sm btn-outline-primary" [routerLink]="['/fairplay-classement', champ.id]" ngbTooltip="Classement du fair-play"><i class="icon ion-md-happy"></i></a>
							&nbsp;
						</span>
						<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/journees', champ.id]" [ngbTooltip]="infoCalendrier"><i class="icon ion-md-calendar"></i></a>
						&nbsp;
						<button class="btn btn-sm btn-outline-secondary" (click)="importer(champ)" ngbTooltip="Importer les résultats d'autres poules"><i class="icon ion-md-arrow-round-up"></i></button>
						&nbsp;
						<button class="btn btn-sm btn-outline-secondary" (click)="renommer(champ)" ngbTooltip="Renommer le championnat"><i class="icon ion-md-create"></i></button>
						&nbsp;
						<button class="btn btn-sm btn-outline-danger" (click)="supprimer(champ)" ngbTooltip="Supprimer le championnat"><i class="icon ion-md-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!----------------------
	Fenêtre de confirmation de suppression
  ------------------- -->

<ng-template #supprChamp let-champ>
	Etes-vous sûr de vouloir supprimer le championnat {{ champ.nom }}&nbsp;?
</ng-template>


<!----------------------
	Fenêtre de renommage
  ------------------- -->

<ng-template #renommage let-champ>
	<form class="form" id="formulaire" ngNativeValidate (ngSubmit)="modal.close()">
		<div class="form-group">
			<label for="nom">Nouveau nom &nbsp;:</label>
			<input class="form-control" type="text"
			       id="nom" name="nom" required [(ngModel)]="nouveauNom"/>
		</div>
	</form>
</ng-template>


<!----------------------
	Infobulles
  ------------------- -->

<ng-template #infoMatches>
	Afficher les matches<br>
	Modifier/Valider les résultats
</ng-template>

<ng-template #infoClassement>
	Afficher le classement<br>
	Attribuer les points de pénalité<br>
	Echanger une équipe<br>
	Déclarer un forfait général
</ng-template>

<ng-template #infoPlateau>
	Afficher le plateau<br>
	Echanger une équipe
</ng-template>

<ng-template #infoCalendrier>
	Afficher/Modifier le calendrier
</ng-template>
